h4 {
  text-transform: uppercase;
  font-size: 1.8vw;
}

p {
  font-size: 1.2vw;
}

.carousel-item {
  height: 60vh;
}

.navbar {
  border-color: white;
  color: black;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  margin: auto 8%;
}

.navbar-nav {
  width: 80%;
}

.nav-link {
  margin: auto 2%;
  font-size: 1.2vw;
}

.nav-link:hover {
  color: red !important;
}

.carousel-control-prev,
.carousel-control-next {
  height: 20%;
  width: 2%;
  margin: auto;
  background-color: red;
  color: white;
  opacity: 1;
}

header img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.carousel-caption {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.btn-dark {
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  border-radius: 0px;
}
